.icon svg {
    display: block;
    margin: auto;
    font-size: 5em;
}

.icon {
    background-color: var(--s-green);
    height: 7em;
    width: 7em;
    align-self: center;
    display: flex;
    flex-shrink: 0;
}
