.icon svg {
  display: block;
  margin: auto;
  font-size: 64px;
}

.icon {
  background-color: var(--s-green);
  height: 150px;
  width: 150px;
  align-self: center;
  display: flex;
  flex-shrink: 0;
}
