.playlistContainer a {
  color: white;
  text-decoration: none;
  width: 150px;
  height: 175px;
  overflow: hidden;
  display: grid;
}

/* for liked songs icon */
.playlistContainer a img,
.icon {
  width: 125px;
  height: 125px;
  object-fit: cover;
  margin: auto;
}

.playlistContainer {
  width: 150px;
  height: 200px;
}

.playlistContainer p {
  margin: 5px auto;
  text-align: center;
}
