.playlistContainer a {
    color: white;
    text-decoration: none;
    width: 7em;
    max-height: 10em;
    overflow: hidden;
    display: grid;
}

/* for liked songs icon */
.playlistContainer a img,
.icon {
    width: 6em;
    height: 6em;
    object-fit: cover;
    margin: auto;
}

.playlistContainer {
    width: 7em;
    height: 10em;
}

.playlistContainer p {
    margin: 5px auto;
    text-align: center;
}
