.playlist {
  color: white;
  max-width: 1100px;
  margin: auto;
  overflow-x: hidden;
}

#s_num {
  padding-left: 15px;
}

.list-info {
  margin-top: auto;
}

.list-info p {
    margin: 0 0 10px;
    font-size: 0.8em;
}

.list-info h2 {
    margin: 0 0 10px;
    font-size: 3em;
}

.list-info strong {
    display: block;
}

.list-info strong a {
    padding-left: 2px;
    text-decoration: none;
}

.list-info strong,
.list-info strong a {
    margin: 0.7em 0 0;
    font-size: 0.8em;
    font-weight: 400;
    color: gray;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    padding: 1em;
    gap: 2.5em;
}

.list-header {
    border-bottom: 1px solid white !important;
}

.list-header p {
  color: white;
}

.play-playlist {
  margin: auto 15px 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  flex-shrink: 0;
}

.play-playlist svg {
    position: absolute;
    width: 3em;
    height: 3em;
    color: var(--s-green);
    top: -10px;
    left: -10px;
}

#dock {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  justify-content: flex-start;
  background-color: black;
}

.dock-play {
    margin: auto 2em auto -1px;
    width: 2em;
    height: 2em;
    margin-left: 1em;

}

.dock-play svg {
    width: 2em;
    height: 2em;
}

.header img {
    height: 10em;
    width: 10em;
    object-fit: contain;
    margin: auto 0;
}

/*for liked songs icon image*/
.header > .icon {
    margin: 0 !important;
}

@media screen and (max-width: 500px) {

    .list-info h2 {
        font-size: 1.5em;
    }

    .header img {
        height: 7em;
        width: 7em;
    }

    .header {
        gap: 1em;
    }


    .play-playlist {
        width: 25px;
        height: 25px;
    }

    .play-playlist svg {
        height: 2em;
        width: 2em;
    }
}