.search-header {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: 0.5em;
    max-width: 1200px;
    margin: 1em;
}

.search-header input {
  border: none;
  margin-left: 1em;
  outline: none;
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 1em;
}

.result-header {
    color: white;
    margin-bottom: 0.4em;
    padding-left: 0.5em;
    font-size: 1.65em;
    padding-bottom: 0.7em;
}

.list-header p {
    margin: 0.4em 0;
}

.more-track,
.more-album,
.more-playlist,
.more-artists {
  width: fit-content;
  margin: 1em auto;
}

.more-track button,
.more-album button,
.more-playlist button,
.more-artists button {
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    padding: 0.7em;
    margin: 0.7em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    font-size: 0.9em;
    font-weight: 600;
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 1.5em auto;
    padding-left: 1em;
    padding-right: 1em;
    grid-row-gap: 10px;
}

@media screen and (max-width: 1000px) {
    .result-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}


@media screen and (max-width: 700px) {
    .result-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .result-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

