.Song {
    display: grid;
    color: white;
    grid-template-columns: 3em 5fr 4fr 3em;
    align-items: center;
    padding: 0.7em 0;
    color: gray;
    transition: 200ms color ease-in;
    border-bottom: 1px solid rgb(26, 24, 24);
}

.Song:hover {
  color: white;
}

.album {
    margin-right: 3em;
    box-sizing: border-box;
}

.play-div {
    width: 1em;
    height: 1em;
    margin: auto;
}

.song_no {
    margin: 0 -0.3em;
}

.play-div:hover .song_no {
  display: none;
}

.play-div:hover .play {
  display: block;
  background-color: black;
  border: none;
  width: fit-content;
}

.play {
  color: white;
  outline: none;
  padding: 0;
  margin-left: -10px;
}

.song_name {
  color: white;
  margin: 0 0 1px;
  font-size: 1em;
  font-weight: 600;
}

.info {
    margin-right: 1em;
    display: flex;
}

.track_img {
    height: 3em;
    margin: auto 1em auto 0;
}

.artist {
    font-size: 0.8em;
    display: block;
    margin: 0.3em 0 0;
}

.artist a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.album p,
.album a {
    font-size: 0.85em;
    font-weight: 600;
}

.album a {
    text-decoration: none;
    outline: none;
    color: inherit;
    transition: 200ms color ease-in;
}

.duration {
  font-size: 0.85em;
  font-weight: 600;
}

.play {
  display: none;
}

@media screen and (min-width: 700px) {
  .Song {
      grid-template-columns: 3em 1fr 1fr 3em;
  }
}
