@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    overflow-x: hidden;
}

:root {
    --s-green: #1db954;
    --s-black: #141414;
    --s-violet: rgb(91, 87, 115);
    --player-height: 90px;
    --navbar-height: 100px;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background-color: black;
}
